<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" type="text/css" href="/style.css"/>
    </head>
    <body>

        <div class="component-1">
          <div class=""
          style="background: #FFFFFF">
          <div style="   
           display: flex;
          margin-left: 5%;
          margin-right: 5%;
          align-items: center;">
                <p class="decode-blog" >Decode Blog</p>
                <div class="group-29"></div>
                <div class="group-29"></div>
                <div class="group-28">
                    <input placeholder="Поиск по блогам" class="poisk-po-blogam"></input>

                    <button class="najtiButton">
                        <img src="images/Vector.png" class="najti"/>

                        Найти
                    </button>
                </div>
           
           
            <div class="group-29"></div>
            <div class="group-29"> </div>
           
            <div class="group-26">
                <img src="images/avatar.png"  alt="" width="73" height="73">
            </div>
        </div>
      </div>

        <div class="flex-wrapper-three">
            <div class="box-main" style="width: 100%;">
                <div style="width: 80%;background: #FFFFFF;
                              margin: 0px 1%;">
                    <div class="card">
                        <form action="/api/editpost/"  method='POST' class="form"  enctype="multipart/form-data">
                    
                        <fieldset class="fieldset">
                    
                            <input type="hidden" value="<%=posts._id%>" name="id">
                        </fieldset>

                        <div style="width: 692px">
                            <input type="text"  placeholder="Введите заголовок блога" style="   background-color: #FFFFFF; height: 80px;
                            width: 100%;" name="title" value=" <%=posts.title%>"/>
                           
                       

                        <br>
                        <br>
                        <label for="">Выберите категорию поста</label>
                            <select name="category" id="" >
       
                                
                                <% category.forEach(cat => {
                                    if(cat.id==posts.category) {
                                        // console.log('selected= ',country.name)
                            %>
                            <option selected value="<%=cat._id%>"><%=cat.name%></option>
                                  
                            <%  } else { %>
                                <option value="<%=cat._id%>"><%=cat.name%></option>
                                
                              
                            <%  }
                                }); 
                            %>
                            
                            </select>

          
                        </div>


                        <br>
                        <div>
                            <label for="">Выберите картинку для пожста</label>
                            <input type="file"  name="image">
                            <!-- <button style="background-color: #FFF72F; color: black ;width: 178px; height: 50px;" name="image">Выберите картинку</button> -->
                        </div>
                        <br>
                        <div style="width: 692px">
                            <input type="text"  placeholder="Введите описание блога" style="   background-color: #FFFFFF; height: 180px;
                            width: 100%;" name="titleDescription" value=" <%=posts.titleDescription%>"/>
                           
                        </div>
                        <div style="width: 692px">
                            <input type="text"  placeholder="Введите основной текст" style="   background-color: #FFFFFF; height: 180px;
                            width: 100%;" name="posttext" value=" <%=posts.posttext%>"/>
                           
                        </div>
                        <br>
                        <div>
                            <button class="najtiButton" type="submit">Изменить</button>
                        </div>
                        </form>
                    </div>

                </div>


                <div style="width: 20%;background: #FFFFFF;margin-right: 10px;">
                    <div
                        class="cards-blank">
                        <!-- Include here the component "CardsBlank" -->
                   
                        <p class="kategorii">Категории</p>
                        <% category.forEach(cat => {%>
                          <a  class="prognozy-v-it" href="/<%=cat.key%>"><%=cat.name%></a>
                           <%
                       }) %>
                    </div>
  
                  </div>
                
       
            </div>
        </div>


       
                <!-- <img alt="" class="line-1" src="https://static.overlay-tech.com/assets/217a8777-d638-4edd-9084-0293a36069e0.png"/> -->
            </div>
        </body>
    </body>
</html>
