<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" type="text/css" href="/style.css"/>
    </head>
    <body>

        <div class="component-1">
          <div class=""
          style="background: #FFFFFF">
          <div style="   
           display: flex;
          margin-left: 5%;
          margin-right: 5%;
          align-items: center;">
                <p >
                    <a href="/" style="text-decoration: none;" class="decode-blog">Decode Blog</a>
                </p>
                <div class="group-29"></div>
                <div class="group-29"></div>
                <div class="group-28">
                    <input placeholder="Поиск по блогам" class="poisk-po-blogam"></input>

                    <button class="najtiButton">
                        <img src="images/Vector.png" class="najti"/>

                        Найти
                    </button>
                </div>
           
           
          
            <div class="group-27">
                <!-- <p class="registracija"> -->
                  <a class="najtiButton" href="/register" style="text-decoration: none;justify-content: center;width: 7rem;">
                  Регистрация
                  </a>
              <!-- </p> -->
            </div>
            <div class="group-26">
             
                <a class="najtiButton" style="text-decoration: none;align-items: center;justify-content: center;width: 6rem;"  style="text-decoration: none;" href="/signin">Вход</a>
             
            </div>
        </div>
      </div>

        <div class="flex-wrapper-three">
            <div class="box-main">
                <div style="width: 80%;background: #FFFFFF;
                              margin: 0px 1%;">
                            <%
                            

                                posts.forEach(item=>{
                                    for (i in user) {
                                        // console.log(i)
                                    }
                                    // if (item.author==allUsers._id){
                                    //     console.log('item author=   ',item.author)
                                    //     console.log('user._id=   ',allUsers._id)
                                    //     console.log('allUsers=   ',allUsers.full_name)
                                    
                                
                                    %>
                    <div class="card">
                  
                        <div class="article">
                            <img alt="" class="image-1" src="<%=item.image%>"/>
                            <p>
                                <%=item.title%>
                            </p>
                            <p class="obzor-report-manager-ot-webix">
                                <%=item.titleDescription%><br/>
                            </p>
                            <p class="osen-2020-goda-stala-plodotvornym-vreme">
                                
                                <br/>
                                <%=item.posttext%>
                            </p>

                            <div class="box">
                                <div class="box">
                                    <div style="width: 20%;padding: 10px;">
                                        <img src="images/calendar.png"/>
                                    </div>

                                    <div style="width:80%">
                                        <p class="">26.06.2020</p>
                                    </div>

                                </div>


                                <div class="box">
                                    <div style="width: 20%;padding: 10px;">
                                        <img src="images/eye.png"/>
                                    </div>

                                    <div style="width:80%">
                                        <p class="">21</p>
                                    </div>

                                </div>


                                <div class="box">
                                    <div style="width: 20%;padding: 10px;">
                                        <img alt="" class="message" src="https://static.overlay-tech.com/assets/27ff86e9-732f-4068-87e7-3a5384fa319d.svg"/>
                                    </div>

                                    <div style="width:80%">
                                        <p class="">4</p>
                                    </div>

                                </div>


                                <div class="box">
                                    <div style="width: 20%;padding: 10px;">
                                        <img alt="" class="forums" src="https://static.overlay-tech.com/assets/32823ebb-3477-4992-9bf0-0b01dbc2b3eb.svg"/>
                                    </div>

                                    <div style="width:80%">
                                        <p class=""><%=item.category.name%></p>
                                    </div>

                                </div>

                                <div class="box">
                                    <div style="width: 20%;padding: 10px;">
                                        <img src="images/user.png"/>
                                    </div>

                                    <div style="width:80%">
                                        <p class=""><%=item.author.full_name%></p>
                                    </div>

                                </div>


                            </div>


                        </div>
                    </div>

                  
                  <%
                }) %>
                </div>

                
              
                <div style="width: 20%;background: #FFFFFF;margin-right: 10px;">
                  <div
                      class="cards-blank">
                      
                      <p class="kategorii">Категории</p>
                      <% category.forEach(cat => {%>
                        <a  class="prognozy-v-it" href="/<%=cat.key%>"><%=cat.name%></a>
                         <%
                     }) %>
                  </div>

                </div>
            </div>
        </div>


       
            
            </div>
        </body>
    </body>
</html>
